* {
    border: none;
    border-radius: 10px;
    font-family: FontAwesome, JetBrainsMono Nerd Font Mono, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    border-radius: 0;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
    transition: all 1050ms ease-in-out;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    margin: 0 3px;
    margin-top: 6px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border-bottom: 3px solid transparent;
    border-radius: 25px;
    min-width: 20px;  
}

#workspaces button.active {
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode,
#clock,
#network,
#pulseaudio,
#tray {
    margin: 6px 3px;
    padding: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network.disconnected {
    background-color: rgba(65, 119, 255, 1);
}